@import url(https://fonts.googleapis.com/css?family=Poppins:300);

html,
body {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: url("../../img/1.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 90px;
}

/*form css*/
.login-page {
  width: 400px;
  padding: 11% 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #fef7fa;
  max-width: 350px;
  margin: 0 30px;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  color: black;
}
.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #e4e4e4;
  width: 100%;
  border: 0;
  border-radius: 7px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 15px;
}
.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #234666;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  border-radius: 7px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #0e2941;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #234666;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.forgetpass {
  margin: 0 0 15px;
  color: #b3b3b3;
  font-size: 12px;
  position: relative;
  float: right;
  text-decoration: none;
}
.forgetpass:hover {
  color: #0e2941;
  text-decoration: none;
}
.container {
  color: white;
}
.login-page {
  height: 85vh;
}
body {
  overflow-y: scroll;
}
