@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

/* Navbar STart */

.navbar {
  background-color: black;
}

/* ukuran navbar saat layar */
@media (max-width: 430px) {
  .navbar-brand img {
    width: 55px; /* Adjust this size as needed */
    height: auto; /* Adjust this size as needed */
    margin-right: 10px;
  }
}

.nav-link {
  color: white !important;
  font-size: 1.05rem;
}
.nav-link:hover,
.nav-link.active {
  color: goldenrod !important;
  transition: 0.5s;
}
.lighttext {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: 25px;
  color: darkgoldenrod;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
}

/* Navbar End */

/* Index / Home Start*/

img {
  pointer-events: none;
}
.vimi {
  text-align: center;
}
.misi {
  text-align: justify;
  margin-bottom: 0;
  counter-reset: item;
  list-style-type: none;
}
ul.misi li {
  margin: 5px -40px;
  font-size: 1.5rem;
  counter-increment: item;
  font-weight: 600;
}
ul.misi li::before {
  content: counter(item) ". "; /* Menampilkan counter item dengan titik dan spasi */
  /* nomor urut yang dihasilkan oleh counter, misalnya:
  1. Misi pertama
  2. Misi kedua
  3. Misi ketiga */
}
.text-church {
  text-align: center;
}
#church-div {
  margin-top: 50px;
  margin-bottom: 100px;
}
.card {
  height: 300px;
}
h4 {
  font-size: 1.2rem;
}
#link {
  font-weight: bold;
  text-decoration: none;
}
#loc {
  border-radius: 5%; /* rounded lokasi foto lokasi gereja*/
  width: 100%; /* Mengatur lebar gambar menjadi 95% dari elemen induknya */
  height: 83%;
  padding-bottom: 5px;
}
.card-text {
  text-align: justify;
  text-indent: 50px;
  font-weight: bold;
}
p {
  font-size: 2rem;
  text-align: justify;
  margin-bottom: 0;
}

/* ukuran home saat layar */
@media (max-width: 768px) {
  p {
    font-size: 1rem;
  }
  ul.misi li {
    margin: 0 0;
    font-size: 0.8rem;
    counter-increment: item;
  }
  h3#cabang {
    padding-top: 20px;
  }
  h4 {
    font-size: 1rem;
  }
  #church-div {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  h3#pusat,
  h3#cabang {
    font-size: 1.1rem;
  }
  .card-text {
    text-indent: 25px;
  }
  #loc {
    height: 70%;
  }
}
/* ukuran info saat layar hp kecil*/
@media (max-width: 430px) {
  h2#misi {
    margin-top: 25px;
  }
}

/* social gembala */

.social-button {
  border-radius: 20px;
  border: 1px solid #000000;
  display: inline-flex;
  align-items: center;
  padding: 5px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
  background-color: rgba(245, 245, 245, 0.85);
}
.social-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.social-icon img {
  height: 30px;
}
.possosmed {
  margin-left: 70px;
}
.possosmed a:hover {
  color: #aa74b2;
}
#socialmediagembala {
  background: linear-gradient(130deg, #032554, #032554 65%, #aa74b2);
}

/* ukuran Gembala saat layar */
@media (max-width: 768px) {
  .social-button {
    padding: 2px 7px;
    font-size: 0.5rem;
    margin: 7px;
  }
  .social-icon img {
    height: 15px;
  }
} /* ukuran Gembala saat layar */
@media (max-width: 360px) {
  .possosmed {
    margin-left: 40px;
  }
}
/* --- */

/* Index / Home End */

/* Text Model Start*/

h2 {
  text-transform: uppercase;
  font-weight: bold;
}
h2#church {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  h2#church {
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
}

/* Text Model End */

/* Services Start */

.ibadah-raya {
  background-image: url("../../img/Service/about.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
h2.kop {
  font-family: "Inter";
  font-size: 3rem;
  margin-top: 60px;
  letter-spacing: 5px;
}
p#IR {
  font-size: 2.6rem;
  text-align: justify;
  width: 80%;
  margin-bottom: 130px;
  text-indent: 100px;
}
.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

/* ukuran service saat layar */
@media (min-width: 1280px) and (max-width: 1300px) {
  h2.kop {
    font-size: 3rem;
    margin-top: 80px;
  }
  p#IR {
    margin-top: 80px;
    text-indent: 30px;
    font-size: 2.6rem;
  }
}
/* ukuran service saat layar */
@media (max-width: 768px) {
  .ibadah-raya {
    min-height: 30vh;
  }
  h2.kop {
    font-size: 1rem;
    margin-top: 25px;
  }
  p#IR {
    margin-bottom: 10px;
    text-indent: 30px;
    font-size: 0.6rem;
  }
}

body.colorserv {
  background-color: black;
}
.text-serv {
  text-align: center;
  padding-bottom: 40px;
}
.text-serv2 {
  text-align: center;
  padding-bottom: 40px;
}
.text-serv3 {
  text-align: center;
}
a#text {
  color: white;
  letter-spacing: 1px;
  font-size: 2rem;
}
a#text h3 {
  margin-bottom: 15px;
}
#SM,
#IS,
#IWBI,
#IPS,
#DP,
#YGSM {
  border-radius: 5%; /* rounded menu services*/
  width: auto; /* lebar */
  height: 560px; /* tinggi */
}
img#SMpage,
img#DPpage,
img#IDPpage,
img#ISpage,
img#IPSpage,
img#IWBIpage {
  border-radius: 3%; /* rounded menu services*/
  width: 1010px; /* lebar */
  height: 600px; /* tinggi */
}
img#IPSpage {
  border-radius: 3%; /* rounded menu services*/
  width: auto; /* lebar */
  height: 600px; /* tinggi */
}
#classSM,
#classIWBI,
#classIPS,
#classDP,
#classIDP {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  /* Menggunakan flexbox dengan flex-direction: column dan min-height: 80vh untuk membuat wrapper mengambil setidaknya tinggi viewport. */
}

/* ukuran service saat layar */
@media (max-width: 768px) {
  #SM,
  #IS,
  #IWBI,
  #IPS,
  #DP,
  #YGSM {
    width: 300px; /* lebar after mobile */
    height: auto; /* Tinggi menyesuaikan */
  }
  .text-serv {
    padding-bottom: 10px;
  }
  .text-serv2 {
    padding-bottom: 10px;
  }
  .text-serv3 {
    padding-bottom: 20px;
  }
  a#text h3 {
    margin-top: 15px;
    font-size: 0.6rem;
    margin-bottom: 5px;
  }
  img#SMpage,
  img#DPpage,
  img#ISpage,
  img#IPSpage,
  img#IDPpage,
  img#IWBIpage {
    border-radius: 10%;
    width: auto; /* lebar after mobile */
    height: auto; /* Tinggi menyesuaikan */
  }
  img#IPSpage {
    border-radius: 10%;
    width: auto; /* lebar after mobile */
    height: 200px; /* Tinggi menyesuaikan */
  }
}
@media (max-width: 376px) {
  a#text h3 {
    font-size: 0.55rem;
  }
}

.Halaman-ygsm {
  position: relative;
}
#logo {
  margin-top: -115px;
}
h2.YGSM a {
  color: white;
}
h2.IDP a {
  color: white;
}
.IDP {
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .YGSM {
    margin-top: auto;
    font-size: 1rem;
  }
  .IDP {
    margin-top: auto;
    font-size: 1rem;
  }
  #logo {
    margin-top: -33px;
  }
}

/* services menu */

#bannerserv {
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 3%;
}
#textserv {
  font-size: 3rem;
}
p.serv {
  text-indent: 50px;
  text-align: justify;
}
p.serv#doapuasa {
  font-size: 2.5rem;
  text-indent: 50px;
  text-align: justify;
}

/* ukuran menu di service saat layar */
@media (max-width: 768px) {
  p.serv {
    text-indent: 25px;
    text-align: justify;
  }
  #textserv {
    font-size: 1.5rem;
  }
  p.serv#doapuasa {
    font-size: 1.5rem;
  }
}
/* ---------- */

/* Sektor */

ul.sektor li {
  font-weight: bold;
  font-style: italic;
}
.sektor h2 {
  margin-top: 20px;
  font-size: 40px;
}
article h3 {
  font-size: 1.5rem;
}
article h4 {
  font-size: 1.5rem;
  text-align: justify;
}

@media (max-width: 768px) {
  article h3 {
    font-size: 1rem;
  }
  article h4 {
    font-size: 1rem;
    text-indent: 15px;
  }
}

.pembinasektor {
  margin-bottom: 30px;
}
.about-text h2 {
  color: black;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 1px solid purple;
}
.about-text span {
  color: purple;
}
.about-text h5 {
  color: black;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  word-spacing: 0.5px;
  line-height: 50px;
  font-size: 2rem;
  text-align: justify;
  text-indent: 50px;
}
#umum {
  text-align: center;
}
.SosmedSektor {
  margin-top: 35px;
}
#pembinasektor {
  border-radius: 50px;
  margin-top: 40px;
}
.deskripsek p {
  margin: 20px 0;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 50px;
  text-align: justify;
}

@media (min-width: 1280px) and (max-width: 1300px) {
  img#pembinasektor {
    width: auto;
    height: 700px;
  }
}
@media (max-width: 768px) {
  #umum {
    font-size: 2rem;
  }
  img#pembinasektor {
    margin: auto;
    width: 70%;
    height: auto;
  }
  #pendeta {
    text-align: center;
  }
  .about-text h5 {
    font-size: 1.2rem;
    text-align: center;
  }
  .about-text p {
    font-size: 1.3rem;
    text-align: justify;
    padding: 0 15px;
    text-indent: 25px;
    line-height: 2;
  }
  .SosmedSektor {
    margin: 10px 0;
    text-align: center;
  }
  #IconSosmedSektor img {
    height: 25px;
  }
  #HrfSosmedSketor {
    font-size: 1rem;
  }
  .deskripsek p {
    font-size: 1.1rem;
    text-align: justify;
    padding: 0 15px;
    margin-bottom: 10px;
    line-height: 25px;
  }
}

/* css ibu Barsalin Matulatuwa */
.batjebackground {
  background: linear-gradient(135deg, #ffebcd, #ffc1cc, #add8e6);
}
.batje {
  font-size: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.sosmedBarsalinMatuluwa {
  margin-top: 40px;
}
.pembinaygsm {
  padding: 30px 0;
}

/* css ibu Barsalin Matulatuwa saat layars */
@media (max-width: 768px) {
  .batje {
    font-size: 1rem;
    margin: 10px auto;
    text-decoration: underline;
  }
  .sosmedBarsalinMatuluwa {
    margin-top: 10px;
    text-align: center;
  }
  #textbunda {
    font-size: 1rem;
    margin-top: 0;
    text-align: justify;
  }
  #Barsalin_Matulatuwa {
    margin: auto;
    width: 60%;
    height: auto;
  }
  .pembinaygsm {
    padding: 30px 20px;
  }
  #iconBM img {
    height: 20px;
  }
  #hurufBM {
    font-size: 0.7rem;
  }
}
/* css kontak wa ygsm */
#hrfWA {
  font-size: 1.3rem;
}
.waygsm-button {
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  padding: 5px 15px;
  background-color: #d9d9d9;
  color: black;
  font-family: "Times New Roman", Times, serif;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Menambahkan transisi */
}
.waygsm-button:hover {
  color: goldenrod; /* Warna saat di-hover */
  transform: scale(1.02); /* Sedikit memperbesar tombol saat di-hover */
}
.contactwaygsm {
  margin-top: -330px;
  margin-left: 280px;
}
.IconWhatsappygsm {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.IconWhatsappygsm img {
  height: 50px;
}
.sosmedygsm {
  text-align: center;
  margin-top: -120px;
  margin-left: 280px;
}
#hurufYGSM {
  font-weight: bold;
}

/* ukuran kontak ygsm saat layar hp besar*/
@media (min-width: 1280px) and (max-width: 1300px) {
  .contactwaygsm {
    margin-top: -265px;
    margin-left: 230px;
    margin-bottom: 0;
  }
  #hrfWA {
    font-size: 1.1rem;
  }
  .contactwaygsm .waygsm-button {
    width: 390px;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .contactwaygsm .IconWhatsappygsm {
    margin-right: 5px;
  }
  .contactwaygsm .IconWhatsappygsm img {
    height: 45px;
  }
  .sosmedygsm {
    margin-top: -100px;
    margin-left: 230px;
  }
  .sosmedygsm #iconYGSM {
    height: 30px;
  }
  #hurufYGSM {
    font-size: 0.7rem;
  }
}
/* ukuran kontak ygsm saat layar hp besar*/
@media (max-width: 768px) {
  .contactwaygsm {
    margin-top: -110px;
    margin-left: 80px;
    margin-bottom: 0;
  }
  #hrfWA {
    font-size: 0.55rem;
  }
  .contactwaygsm .waygsm-button {
    width: 140px;
    border-radius: 5px;
    padding: 2px 2px;
  }
  .contactwaygsm .IconWhatsappygsm {
    margin-right: 5px;
  }
  .contactwaygsm .IconWhatsappygsm img {
    height: 15px;
  }
  .sosmedygsm {
    margin-top: -42px;
    margin-left: 80px;
  }
}
/* ukuran kontak ygsm saat layar hp kecil*/
@media (max-width: 400px) {
  .contactwaygsm {
    margin-top: -97px;
    margin-left: 75px;
    margin-bottom: 0;
  }
  #hrfWA {
    font-size: 0.5rem;
  }
  .contactwaygsm .waygsm-button {
    width: 120px;
    padding: 1px 2px;
  }
  .sosmedygsm {
    margin-top: -40px;
    margin-left: 80px;
  }
  #hurufYGSM,
  #iconYGSM {
    font-size: 0.5rem;
    height: 20px;
  }
}
/* ukuran kontak ygsm saat layar hp super kecil*/
@media (max-width: 376px) {
  .contactwaygsm {
    margin-top: -100px;
    margin-left: 70px;
    margin-bottom: 0;
  }
  #hrfWA {
    font-size: 0.5rem;
  }
  .contactwaygsm .waygsm-button {
    width: 120px;
    padding: 1px 2px;
  }
  .sosmedygsm {
    margin-top: -40px;
    margin-left: 80px;
  }
  #hurufYGSM,
  #iconYGSM {
    font-size: 0.4rem;
    height: 20px;
  }
}
/* css kontak wa ygsm */
/* Services End */

/* Info Start */
#info1 {
  padding-bottom: 50px;
  display: block;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
}
thead {
  background-color: goldenrod;
}
tbody {
  background-color: white;
  opacity: 0.95;
}
th {
  text-align: center;
  font-family: sans-serif;
  color: black;
  font-size: 1rem;
}
td {
  font-family: "Inter";
  font-size: 1rem;
}
h4.kop {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "PT Serif";
}
img#x {
  display: none;
}
img.ggm {
  width: 500px;
  height: auto;
}
hr.thick-hr {
  background-color: rgb(218, 165, 32); /* Pastikan warna garis terlihat */
  border: none; /* Hilangkan border default */
}

/* ukuran info saat layar */
@media (max-width: 768px) {
  h4.kop {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0); /* Ubah warna sesuai kebutuhan */
    text-decoration-style: solid; /* Pilihan lain: solid, double, dotted, dashed */
    text-decoration-thickness: 1.5px; /* Atur ketebalan garis bawah */
    text-underline-offset: 4px; /* Atur jarak antara teks dan garis bawah */
  }
  th {
    font-size: 0.8rem;
  }
  td {
    font-size: 0.8rem;
  }
  img#x {
    display: inline-block;
    width: 50px;
    height: auto;
  }
  img#gambartabel {
    visibility: hidden;
    display: none;
  }
  .thick-hr {
    display: none;
  }
  caption {
    font-size: 0.9rem;
  }
}
/* ---- Footer INFO ---- */

.contactwa {
  z-index: 1;
  margin-top: -380px;
  margin-bottom: 315px;
}
.wa-button {
  border-radius: 10px;
  border: 1px solid #000000;
  display: inline-flex;
  align-items: center;
  padding: 5px 15px;
  font-size: 2rem;
  color: black;
  background-color: rgba(245, 245, 245, 1);
  font-family: "Times New Roman", Times, serif;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Menambahkan transisi */
}
.wa-button:hover {
  color: goldenrod; /* Warna saat di-hover */
  transform: scale(1.05); /* Sedikit memperbesar tombol saat di-hover */
}
.IconWhatsapp {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.IconWhatsapp img {
  height: 50px;
}
.QR {
  width: 185px;
  height: auto;
  margin-top: -770px;
  margin-right: 150px;
}
.card-body {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  padding: 0 5px;
  font-weight: 500;
}

/* ukuran info saat layar hp besar*/
@media (min-width: 1200px) and (max-width: 1300px) {
  .contactwa {
    margin-top: -330px;
    margin-left: -5px;
    margin-bottom: 0;
  }
  .card.QR {
    width: 160px;
    margin-top: -660px;
    margin-right: 115px;
    margin-bottom: 0px;
  }
  .card.QR .card-body {
    font-size: 1.4rem;
    text-align: center;
    padding: 0 5px;
  }
  .contactwa .wa-button {
    border-radius: 5px;
    font-size: 1.8rem;
    margin-left: 18px;
    padding: 2px 5px;
  }
  .contactwa .IconWhatsapp {
    margin-right: 5px;
  }
  .contactwa .IconWhatsapp img {
    height: 40px;
  }
}

/* ukuran info saat layar hp besar*/
@media (max-width: 768px) {
  .contactwa {
    margin-top: -110px;
    margin-bottom: 0;
  }
  .card.QR {
    width: 50px;
    margin-top: -207px;
    margin-right: 40px;
    margin-bottom: 0px;
  }
  .card.QR .card-body {
    font-size: 0.5rem;
    text-align: center;
    padding: 0 5px;
  }
  .contactwa .wa-button {
    border-radius: 5px;
    font-size: 0.55rem;
    margin-left: 18px;
    padding: 2px 5px;
  }
  .contactwa .IconWhatsapp {
    margin-right: 5px;
  }
  .contactwa .IconWhatsapp img {
    height: 15px;
  }
}
/* ukuran info saat layar hp kecil*/
@media (max-width: 400px) {
  .contactwa {
    margin-top: -100px;
    margin-bottom: 5px;
  }
  .card.QR {
    width: 50px;
    margin-top: -190px;
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .card.QR .card-body {
    font-size: 0.5rem;
    text-align: center;
    padding: 0 0;
  }
  .contactwa .wa-button {
    border-radius: 5px;
    font-size: 0.55rem;
    margin-left: 10px;
    padding: 2px 5px;
  }
  .contactwa .IconWhatsapp {
    margin-right: 5px;
  }
  .contactwa .IconWhatsapp img {
    height: 15px;
  }
}
/* ukuran info saat layar hp super kecil*/
@media (max-width: 376px) {
  .contactwa {
    margin-top: -100px;
    margin-bottom: 5px;
  }
  .card.QR {
    width: 50px;
    margin-top: -190px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
/* ------------------------------------------------ */

/* Info End */

/* Ministries START */

.custom-border {
  background-color: #fed576;
  padding: 20px;
  text-align: center;
}
.custom-border h2 {
  margin-bottom: 0;
  font-family: "Krona One";
}
.button-container {
  padding: 20px;
  text-align: center;
}
.button-container .btn {
  margin: 5px;
  background-color: white;
  box-shadow: 0 0 20px #c8bfff;
  color: black;
  font-size: large;
  font-weight: bold;
  border: 1px solid;
  font-family: "Krone One";
}
.button-container .btn:hover {
  background-color: #b6a9ff;
}
.btn a:hover {
  color: white;
}
#toggleText1,
#toggleText1 a {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}
#toggleText2,
#toggleText2 a {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}
#toggleText3,
#toggleText3 a {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}
span#jsspan {
  margin: 20px;
}
.hidden {
  display: none;
}
#text1 .container,
#text2 .container,
#text3 .container {
  margin-top: 5px;
  padding: 25px;
}

/* ukuran ministries saat layar */
@media (max-width: 768px) {
  span#jsspan {
    margin: 0;
  }
  #bc1 {
    padding-bottom: 0;
  }
  #bc2 {
    padding-top: 0;
  }
}

/* Ministry JS */
.text-box {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.purple-box {
  background-color: #d29bff;
  color: black;
  border: 2px solid #000000;
  margin-bottom: 25px;
}
.yellow-box {
  background-color: #fcecc4;
  color: black;
  border: 2px solid #000000;
}
.content {
  margin-top: 10px;
  text-align: justify;
  text-indent: 40px;
}

/* ukuran ministries js saat layar */
@media (max-width: 768px) {
  #toggleText1,
  #toggleText2,
  #toggleText3 {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
  .purple-box {
    width: 55%;
    margin: 10px auto;
  }
  .yellow-box {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .text-box {
    width: 85%;
    margin-top: 20px;
  }
}

p.fontjs {
  font-family: "Lexend Deca";
  font-size: 2.5rem;
}
/* ukuran ministries js saat layar */
@media (min-width: 1280px) and (max-width: 1300px) {
  p.fontjs {
    font-size: 2rem;
  }
}
/* MInistry JS end */

/* Ministries END */

/* Media Start */
#media {
  background-color: #000000;
}
/* Media End */

/* Footer Start */

.socialfooter {
  text-decoration: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

/* Footer End */

/* BACK TO TOP */

#goTop {
  position: fixed; /* posisi tetap sesuai ukuran dibwah */
  right: 40px;
  bottom: 75px;
  z-index: 1000;
}

#goTop #goTopBtn {
  background-color: rgba(208, 208, 208, 0.8); /* warna backgrd buttong */
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.3s linear;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

#goTop:hover #goTopBtn {
  background: rgba(86, 39, 144, 0.8); /* warna backgrd buttong */
}

/* warna button arah */
#btt {
  color: #190064;
  font-size: 2rem; /* Increase font size */
  font-weight: bold; /* Make the icon bold */
  transition: color 0.3s ease;
  margin: 10px auto;
}

#goTop:hover #goTopBtn #btt {
  color: rgba(255, 255, 255, 1); /* warna arrow */
}
/* hilangkan button sebelum scroll & saat refresh  */
#goTopBtn {
  display: none;
}

/* css carousel slider */
.carousel {
  border: rgb(255, 255, 255, 0.5) 5px solid;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(138, 43, 226);
  padding: 20px;
  border-radius: 50%;
}
.carousel-control-prev {
  left: -5%;
}
.carousel-control-next {
  right: -5%;
}
.carousel .carousel-indicators button {
  background-color: rgba(138, 43, 226, 0.5);
}
.carousel .carousel-indicators button.active {
  background-color: rgba(138, 43, 226);
}
.carousel-item {
  transition: transform s ease, opacity 0.5s ease-out;
}
.carousel-caption {
  background-color: rgba(138, 43, 226, 0.5);
  margin-bottom: 4px; /* Menambahkan margin bawah sebesar 15px untuk memberi ruang antara caption dan tepi bawah */
  padding: 5px; /* Menambahkan padding (ruang dalam) sebesar 5px di sekitar konten caption */
  left: 50%; /* Menempatkan elemen caption 50% dari kiri elemen induknya (carousel) */
  transform: translateX(
    -50%
  ); /* Menggeser elemen caption ke kiri sebesar 50% dari lebarnya sendiri, sehingga berada tepat di tengah secara horizontal */
  width: 800px; /* Menetapkan lebar caption menjadi 600px */
  text-align: center; /* Mengatur teks di dalam caption agar berada di tengah secara horizontal */
  border-radius: 10px;
}
.carousel-caption p {
  font-size: 1.2rem;
  text-align: center;
}
.carousel-indicators {
  margin-bottom: 5px;
}

/* ukuran kontak ygsm saat layar hp besar*/
@media (max-width: 768px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    padding: 10px;
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
  .carousel-caption {
    width: 350px;
    margin-bottom: 10px;
    margin-bottom: -10px;
  }
  .carousel-indicators {
    margin-bottom: -5px;
  }
  .carousel-caption h3 {
    font-size: 0.9rem;
    margin: 0;
  }
  .carousel-caption p {
    font-size: 0.6rem;
  }
}
/* ukuran kontak ygsm saat layar hp kecil*/
@media (max-width: 400px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    padding: 10px;
  }
  .carousel-caption {
    padding: 3px;
    width: 300px;
    margin-bottom: -10px;
  }
  .carousel-indicators {
    margin-bottom: -5px;
  }
  .carousel-caption h3 {
    font-size: 0.7rem;
    margin: 0;
  }
  .carousel-caption p {
    font-size: 0.5rem;
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
}
